modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[userenv]

[userenv.shared]
BEDS24_REFRESH_TOKEN = "kbzMp1mAtYixRl7odlb6/6TZx7k6z8TpR/cok4Mt0GRvU+ZgNFpBdObvmJVlEjfUHFw+1ansO6eAPvm8AwHymJtSzSgrTeqJ+pQ6TJDeogGFal2QwSrW77zP9LRyJ7xYTQE6KdDoUp8iA1DHuKGT7A=="
BEDS24_BOOKING_REFRESH_TOKEN = "Guhh/Z1Q5+esD7XThf7vxigolrIl2Li2kOWrmp+Kz4L28JFXfembdX1FxfjptweDXMTnLWmGWEyHgEch2ZciLubfjBve9vosLNj8CLCuGExw1YlA5/GmeCw0Egzcp1xacYzIDf6KJVhzq9fKrCVjLg=="
